container{
	width:40%;
	heigh:40%;
	margin:auto;
	background-color:#AADDAA;
	font-family:sans-serif;
}

h2{
	background-color: #FEFFED;
	padding: 30px 35px;
	text-align:center;
	border-radius: 10px 10px 0 0;
}
