.container{
	width:70%;
	height:80vh;
	margin: 0% auto;
	background-color:#FFDDBB;
	font-family:sans-serif;
}

.main{
	width:50%;
	height:60vh;
	margin: 15% 25% 5% 25%;
	background-color:#AADDBB;
}

h2{
	margin: 10%;
	padding: 30px 35px;
	text-align:center;
	font-family:sans-serif;
}
